<div class="col-md-12" block-ui block-ui-pattern="/^\/api\/Plantas($|\/).*/">
	<div class="row">
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-12">
					<img alt="" src="resources/img/logos/plantas.png"
						class="image image-responsive" style="height: 200px">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong> Control de Planta </strong>
							<button class="btn btn-primary pull-right"
								ng-click="changeState()">
								<span ng-show="locked"><i class="fa fa-lock"></i> Unlock</span>
								<span ng-show="!locked"><i class="fa fa-unlock"></i> Lock</span>
							</button>
						</div>
						<table class="table">
							<tbody>
								<tr>
									<td style="vertical-align: middle"><strong>Funciones
											de Arranque</strong></td>
									<td>
										<div class="btn-group btn-group-lg" role="group" aria-label="toolbar" >
											<button class="btn btn-success" ng-disabled="locked">
												<i class="fa fa-play"></i> <strong class="strong">Arranque</strong>
											</button>
											<button class="btn btn-danger" ng-disabled="locked">
												<i class="fa fa-stop"></i> <strong class="strong">Paro</strong>
											</button>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align: middle"><strong>Funciones de Modo</strong></td>
									<td>
										<div class="btn-group btn-group-lg" role="group"
											aria-label="toolbar">
											<button class="btn btn-danger" ng-disabled="locked">Off</button>
											<button class="btn btn-primary" ng-disabled="locked">Manual</button>
											<button class="btn btn-success" ng-disabled="locked">Auto</button>
											<button class="btn btn-warning" ng-disabled="locked">Test</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							Información De Sitio
							<div viewlocation data="center" class="pull-rigth"></div>
						</div>
						<table class="table table-striped ">
							<tbody>
								<tr>
									<td>Sitio</td>
									<td>{{sitio.nombresitio}}</td>
								</tr>
								<tr>
									<td>Domicilio</td>
									<td>{{sitio.domicilio}}</td>
								</tr>
								<tr>
									<td>CP</td>
									<td>{{sitio.codigopostal}}</td>
								</tr>
								<tr>
									<td>Zona</td>
									<td>{{sitio.zonaregion}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">Información General</div>
						<table class="table table-striped ">
							<tbody>
								<tr>
									<td>ON</td>
									<td><i class="fa fa-2x fa-toggle-on" ng-show="data.on"
										style="color: green"></i> <i class="fa fa-2x fa-toggle-off"
										ng-show="!data.on"></i></td>
								</tr>
								<tr>
									<td>Numero de arranques</td>
									<td>{{planta.arranques || 1250}}</td>
								</tr>
								<tr>
									<td>Potencia nomimal</td>
									<td>{{planta.kw || 1250}} KW</td>
								</tr>
								<tr>
									<td>Modo Planta</td>
									<td>{{planta.kw || 'Auto'}}</td>
								</tr>
								<tr>
									<td>Horas operación</td>
									<td>{{data.HORAS }} hrs</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">Información General Generador</div>
						<table class="table table-striped table-condensed ">
							<tbody>
								<tr>
									<td>Fase 1</td>
									<td>{{data.VF1 | number :2 }} V</td>
									<td>{{data.IF1 | number :2 }} A</td>
								</tr>
								<tr>
									<td>Fase 2</td>
									<td>{{data.VF2 | number :2 }} V</td>
									<td>{{data.IF2 | number :2 }} A</td>
								</tr>
								<tr>
									<td>Fase 3</td>
									<td>{{data.VF3 | number :2 }} V</td>
									<td>{{data.IF3 | number :2 }} A</td>
								</tr>
								<tr>
									<td>FP</td>
									<td colspan="2">{{data.FP | number :2 }}</td>
								</tr>
								<tr>
									<td>HZ</td>
									<td colspan="2">{{data.HZ | number :2 }} HZ</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">Información General CFE</div>
						<table class="table table-striped table-condensed ">
							<tbody>
								<tr>
									<td>Fase 1</td>
									<td>{{ data.CFEF1 | number :2 }} V</td>
									<td>0.00 A</td>
								</tr>
								<tr>
									<td>Fase 2</td>
									<td>{{ data.CFEF2 | number :2 }} V</td>
									<td>0.00 A</td>
								</tr>
								<tr>
									<td>Fase 3</td>
									<td>{{ data.CFEF2 | number :2 }} V</td>
									<td>0.00 A</td>
								</tr>
								<tr>
									<td>FP</td>
									<td colspan="2">{{data.CFEFP | number :2 }}</td>
								</tr>
								<tr>
									<td>HZ</td>
									<td colspan="2">{{data.CFEHZ | number :2 }} HZ</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3 text-center col-xs-6">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Combustible</div>
					<canvas class="gauge" id="combustible" canvasid="combustible"
						width="150" value="data.combustible" max="100" min="0" unit="%"
						title=""></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3  col-xs-6 text-center">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Demanda</div>
					<canvas class="gauge" id="demanda" canvasid="demanda"
						value="data.DEMANDA" max="100" min="0" unit="KW" title=""
						width="150"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-xs-6 text-center">
		<div class="row"></div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Temperatura</div>
				<canvas class="gauge" id="temperatura" canvasid="temperatura"
					value="data.temperaturaRefigerante" max="100" min="0" unit="° C"
					title="" width="150"></canvas>
			</div>
		</div>
	</div>
	<div class="col-md-3  text-center col-xs-6">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Presión de Aceite</div>
					<canvas class="gauge" id="presion" canvasid="presion"
						value="data.presionAceite" max="50" min="0" unit="PSI" title=""
						width="150"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="col-md-6">
			<div id="container"
				style="min-width: 310px; height: 400px; margin: 0 auto" linegraph
				idsitio="1000043" title="Demanda Electrica de las Ultimas 12 horas"></div>
		</div>
		<div class="col-md-6">
			<div style="min-width: 310px; height: 400px; margin: 0 auto"
				linegraph idsitio="1000029"
				title="Demanda de Vapor de las ultimas 12 horas"></div>
		</div>

	</div>
</div>