<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-power-off fa-fw"></i>Secuencia de Encendido
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
			<div class="list-group">
				<a href="#" class="list-group-item"> T6: OPERTOR CONTROLL INPUT	ON <span class="circle"
					style="background-color: red; display: inline-block"></span>
				</a> <a href="#" class="list-group-item"> T7: INTERLOCK INPUT ON <span
					class="circle" style="background-color: red; display: inline-block"></span>
				</a> <a href="#" class="list-group-item"> T8: PILOT VALVE OUTPUT ON<span class="circle"
					style="background-color: red; display: inline-block"></span>
				</a> 
				<a href="#" class="list-group-item"> T9: MAIN VALVE OUTPUT ON					<span class="circle"
					style="background-color: red; display: inline-block"></span>
				</a>
			</div>
			<!-- /.list-group -->
		</div>
		<!-- /.panel-body -->
	</div>
	<table class="table">
		<thead>
			<tr>
				<th colspan="2">Secuencia de Encendido</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>T6: OPERTOR CONTROLL INPUT ON</td>
				<td><div class="circle" style="background-color: red"></div></td>
			</tr>
			<tr>
				<td>T7: INTERLOCK INPUT ON</td>
				<td><div class="circle" style="background-color: red"></div></td>
			</tr>
			<tr>
				<td>T8: PILOT VALVE OUTPUT ON</td>
				<td><div class="circle" style="background-color: red"></div></td>
			</tr>
			<tr>
				<td>T9: MAIN VALVE OUTPUT ON</td>
				<td><div class="circle" style="background-color: red"></div></td>
			</tr>
		</tbody>
	</table>
</div>
